/**************************
SASS VARIABLES
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  color: #0D3C5A;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%; }

html {
  font-size: 32px;
  font-family: "Merriweather", serif; }

html, body {
  height: 100%;
  width: 100%; }

#pageWrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto; }

/**************************
HEADER
**************************/
header {
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: #8D0707;
  color: #FFD700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  header #headerTitle {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    header #headerTitle h1 {
      font-size: 8rem; }
  header #headerSorting {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header #headerSorting div {
      cursor: pointer;
      text-decoration: underline; }

/**************************
FORM BLOCK
**************************/
#formWrapper {
  height: 75px;
  width: 100%;
  background-color: #0D3C5A;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: white; }
  #formWrapper #formArrowBlock {
    height: 100%;
    background-color: #0D3C5A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }
    #formWrapper #formArrowBlock i {
      cursor: pointer; }
  #formWrapper #formBlockWrapper {
    height: 100%;
    background-color: #0D3C5A;
    display: none; }
    #formWrapper #formBlockWrapper #formBlock {
      height: auto;
      width: 60%;
      margin: 0 auto; }
      #formWrapper #formBlockWrapper #formBlock h3 {
        text-align: center;
        padding: 30px 0;
        text-decoration: underline; }
      #formWrapper #formBlockWrapper #formBlock form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        #formWrapper #formBlockWrapper #formBlock form > div {
          text-align: center;
          margin-bottom: 20px; }
        #formWrapper #formBlockWrapper #formBlock form .labelBlock {
          width: 30%;
          display: flex;
          justify-content: center;
          align-items: center; }
        #formWrapper #formBlockWrapper #formBlock form .inputBlock {
          width: 70%; }
          #formWrapper #formBlockWrapper #formBlock form .inputBlock input {
            width: 90%;
            text-align: center;
            background-color: #0D3C5A;
            border: 2px solid white;
            padding: 2.5px 0; }
            #formWrapper #formBlockWrapper #formBlock form .inputBlock input:focus {
              outline: 0; }
        #formWrapper #formBlockWrapper #formBlock form > label {
          width: 100%;
          text-align: center;
          margin-bottom: 15px; }
        #formWrapper #formBlockWrapper #formBlock form textarea {
          width: 100%;
          min-height: 200px;
          margin-bottom: 15px;
          background-color: #0D3C5A;
          border: 3px solid white;
          padding: 5px; }
          #formWrapper #formBlockWrapper #formBlock form textarea:focus {
            outline: 0; }
        #formWrapper #formBlockWrapper #formBlock form button {
          width: 100%;
          background-color: #0D3C5A;
          border: 3px solid white;
          color: white;
          transition: all .25s ease;
          -webkit-transition: all .25s ease; }
          #formWrapper #formBlockWrapper #formBlock form button:hover {
            background-color: white;
            color: #0D3C5A; }

/**************************
MAIN
**************************/
main {
  min-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.movie {
  cursor: pointer;
  position: relative;
  width: 25%;
  max-width: 25%;
  height: 500px;
  background-size: cover;
  color: white;
  overflow: hidden;
  flex-grow: 1;
  transition: all .25s ease;
  -webkit-transition: all .25s ease; }
  .movie:hover {
    -webkit-box-shadow: inset 0px 0px 100px 0px #8d0707;
    -moz-box-shadow: inset 0px 0px 100px 0px #8d0707;
    box-shadow: inset 0px 0px 100px 0px #8d0707; }
  .movie .movieInfoBlock {
    height: 100%;
    font-size: .6rem;
    background-color: #8D0707;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .movie .movieInfoBlock > i {
      position: absolute;
      font-size: 0.8rem; }
    .movie .movieInfoBlock > i.fa-pencil {
      left: 1%;
      top: 1%; }
    .movie .movieInfoBlock > i.fa-trash-o {
      right: 1%;
      top: 1%; }
    .movie .movieInfoBlock .movieTitleBlock {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .movie .movieInfoBlock .movieTitleBlock h3 {
        width: 100%;
        text-align: center;
        font-weight: lighter;
        font-size: 1.05rem; }
    .movie .movieInfoBlock .movieDescriptionBlock {
      height: 60%;
      width: 95%;
      margin: 0 auto;
      padding: 0 7.5px;
      border-bottom: 1px solid white;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: .44rem; }
    .movie .movieInfoBlock .movieConfigureBlock {
      height: 10%;
      display: flex; }
      .movie .movieInfoBlock .movieConfigureBlock > div {
        width: 50%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .movie .movieInfoBlock .movieConfigureBlock > div i {
          transition: all .25s ease;
          -webkit-transition: all .25s ease; }
          .movie .movieInfoBlock .movieConfigureBlock > div i:hover {
            transform: scale(1.25); }
    .movie .movieInfoBlock .movieItemsBlock {
      height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: .5rem;
      font-family: "Roboto", sans-serif;
      font-weight: lighter; }
    .movie .movieInfoBlock form {
      height: 100%;
      padding: 2% 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .movie .movieInfoBlock form > div {
        text-align: center;
        margin-bottom: 2px; }
      .movie .movieInfoBlock form .labelBlock {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .movie .movieInfoBlock form .inputBlock {
        width: 70%; }
        .movie .movieInfoBlock form .inputBlock input {
          width: 90%;
          text-align: center;
          background-color: #8D0707;
          border: 2px solid white;
          padding: 2.5px 0; }
          .movie .movieInfoBlock form .inputBlock input:focus {
            outline: 0; }
      .movie .movieInfoBlock form > label {
        width: 100%;
        text-align: center;
        margin: 7.5px 0; }
      .movie .movieInfoBlock form textarea {
        width: 95%;
        margin: 0 auto;
        min-height: 200px;
        margin-bottom: 15px;
        background-color: #8D0707;
        border: 3px solid white;
        padding: 5px; }
        .movie .movieInfoBlock form textarea:focus {
          outline: 0; }
      .movie .movieInfoBlock form button {
        width: 45%;
        margin: 0 auto;
        background-color: #8D0707;
        border: 3px solid white;
        color: white;
        transition: all .25s ease;
        -webkit-transition: all .25s ease; }
        .movie .movieInfoBlock form button:hover {
          background-color: white;
          color: #8D0707; }

.m1 {
  background-image: url("tog-poster.jpg"); }

.m2 {
  background-image: url("sb-poster.jpg"); }

/**************************
QUERIES
**************************/
@media screen and (max-width: 1250px) {
  .movie {
    width: 33.33333%;
    max-width: 33.33333%; } }
@media screen and (max-width: 850px) {
  header #headerTitle h1 {
    font-size: 5rem; }
  header #headerSorting {
    width: 90%; }

  #formWrapper #formBlockWrapper #formBlock {
    width: 75%; }

  .movie {
    width: 50%;
    max-width: 50%; } }
@media screen and (max-width: 600px) {
  header {
    height: 400px;
    min-height: 400px; }
    header #headerTitle {
      height: 60%; }
      header #headerTitle h1 {
        font-size: 3.5rem; }
    header #headerSorting {
      height: 40%;
      width: 98%; }

  #formWrapper #formBlockWrapper #formBlock {
    width: 98%; }

  .movie {
    width: 100%;
    max-width: 100%; } }
@media screen and (max-width: 600px) {
  header #headerTitle h1 {
    font-size: 2.5rem; }
  header #headerSorting {
    flex-wrap: wrap;
    margin: 20px 0; }
    header #headerSorting > div {
      width: 50%;
      text-align: center; }

  #formWrapper #formBlockWrapper #formBlock .labelBlock {
    font-size: .7rem; } }

/*# sourceMappingURL=styles.css.map */
