/**************************
SASS VARIABLES
**************************/

$tb: rgba(0,0,0,0.6);
$tw: rgba(255,255,255,0.6);
$fb: rgba(0,0,0,0.87);

$pc: #8D0707;
$lpc: #ED0C0C;
$dpc: #630505;

$sc: #0D3C5A;
$lsc: #1B7BB8;
$dsc: #0D3C59;

$tc: #FFD700;

$serif1: 'Merriweather', serif;
$sans1: 'Roboto', sans-serif;

/**************************
SETUP
**************************/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  color: $sc;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans1;
}

h1, h2, h3, h4, h5, h6, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

html {
  font-size: 32px;
  font-family: $serif1;
}

html, body {
  height: 100%;
  width: 100%;
}

#pageWrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/**************************
HEADER
**************************/

header {
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: $pc;
  color: $tc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #headerTitle {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 8rem;
    }
  }

  #headerSorting {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/**************************
FORM BLOCK
**************************/

#formWrapper {
  height: 75px;
  width: 100%;
  background-color: $sc;
  font-family: $sans1;
  font-weight: lighter;
  color: white;

  #formArrowBlock {
    height: 100%;
    background-color: $sc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    i {
      cursor: pointer;
    }
  }

  #formBlockWrapper {
    height: 100%;
    background-color: $sc;
    display: none;

    #formBlock {
      height: auto;
      width: 60%;
      margin: 0 auto;

      h3 {
        text-align: center;
        padding: 30px 0;
        text-decoration: underline;
      }

      form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > div {
          text-align: center;
          margin-bottom: 20px;
        }

        .labelBlock {
          width: 30%;
        }

        .inputBlock {
          width: 70%;

          input {
            width: 90%;
            text-align: center;
            background-color: $sc;
            border: 2px solid white;
            padding: 2.5px 0;

            &:focus {
              outline: 0;
            }
          }
        }

        > label {
          width: 100%;
          text-align: center;
          margin-bottom: 15px;
        }

        textarea {
          width: 100%;
          min-height: 200px;
          margin-bottom: 15px;
          background-color: $sc;
          border: 3px solid white;
          padding: 5px;

          &:focus {
            outline: 0;
          }
        }

        button {
          width: 100%;
          background-color: $sc;
          border: 3px solid white;
          color: white;
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          &:hover {
            background-color: white;
            color: $sc;
          }
        }

        #submitEdit {
          display: none;
        }
      }
    }
  }
}

/**************************
MAIN
**************************/

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.movie {
  cursor: pointer;
  position: relative;
  width: 360px;
  max-width: 360px;
  height: 500px;
  background-size: cover;
  color: white;
  overflow: hidden;
  flex-grow: 1;
  transition: all .25s ease;
  -webkit-transition: all .25s ease;

  &:hover {
    -webkit-box-shadow: inset 0px 0px 100px 0px rgba(141,7,7,1);
    -moz-box-shadow: inset 0px 0px 100px 0px rgba(141,7,7,1);
    box-shadow: inset 0px 0px 100px 0px rgba(141,7,7,1);
  }

  .movieInfoBlock {
    height: 100%;
    font-size: .6rem;
    background-color: $pc;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > i {
      position: absolute;
      font-size: 0.8rem;
    }

    > i.fa-pencil {
      left: 1%;
      top: 1%;
    }

    > i.fa-trash-o {
      right: 1%;
      top: 1%;
    }

    .movieTitleBlock {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        width: 100%;
        text-align: center;
        font-weight: lighter;
        font-size: 1.05rem;
      }
    }

    .movieDescriptionBlock {
      height: 60%;
      width: 95%;
      margin: 0 auto;
      padding: 20px 7.5px;
      overflow: scroll;
      font-size: .5rem;
      background-color: white;
      color: $fb;
    }

    .movieConfigureBlock {
      height: 10%;
      display: flex;

      > div {
        width: 50%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          transition: all .25s ease;
          -webkit-transition: all .25s ease;

          &:hover {
            transform: scale(1.25);
          }
        }
      }
    }

    .movieItemsBlock {
      height: 10%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: .5rem;
      font-family: $sans1;
      font-weight: lighter;
    }
  }
}

.m1 {
  background-image: url('tog-poster.jpg');
}

.m2 {
  background-image: url('sb-poster.jpg');
}
